.awards {
  font-family: "Roboto", sans-serif;
  padding: 1rem 0px;

  .container {
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 4rem 1rem;
      width: 80%;
      @include lg {
        flex-direction: row;
      }
      @include xl {
        width: 63%;
        // flex-direction: column;
      }
      @include breakpoint(1620px) {
        width: 50%;
      }
      h2 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.625rem;
        text-align: center;
        @include lg {
          text-align: start;
        }
      }
      button {
        @include primaryButton;
        padding: 1rem 3rem;
      }
    }
    .top-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3rem;
      @include lg {
        padding-top: 0px;
        align-items: start;
      }
    }
    .separator {
      padding: 4rem 0px;
      img {
        width: 100%;
      }
    }
    .bot {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2rem 2px;

      @include breakpoint(850px) {
        margin: 8rem 2px;
      }
    }
    .bot-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;
      width: auto;
      @include breakpoint(850px) {
        flex-direction: row;
        width: 70%;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.625rem;
      text-align: center;
    }
    .image-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      gap: 2.5rem;
      width: auto;
      @include md {
        width: 70%;
        gap: 1rem;
      }
      .img-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          text-align: center;
          font-weight: 300;
          font-size: $primaryFontSize;
          opacity: 0.7;
        }
      }
    }
  }
}
