.dry {
  font-family: "Roboto", sans-serif;
  .container {
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 2rem;
    gap: 2rem;
    @include lg {
      flex-direction: row;
    }
    @include xl {
      padding: 10rem 13vw;
    }
    @include breakpoint(1620px) {
      padding: 10rem 20vw;
    }
    .left {
      order: 2;
      width: 100%;
      display: flex;
      align-items: center;
      @include lg {
        width: 50%;
        order: 1;
      }
      .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include lg {
          align-items: start;
        }
        h2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 2.625rem;
          margin: 8px 0px;
        }
        h3 {
          font-size: 1.375rem;
          font-weight: 700;
          margin-top: 0px;
        }
        p {
          font-size: $primaryFontSize;
          font-weight: 300;
          line-height: 24px;
          margin: 1.5rem 0px;
          text-align: center;
          @include lg {
            text-align: start;
          }
        }
        .buttons {
          padding-top: 1rem;
          button {
            font-weight: 400;
            font-size: $primaryFontSize;
            height: 2.938rem;
            background: $secondaryRed;
            color: $textColor;
            border-radius: 50px;
            border: 1px solid white;
            padding: 1rem 2.6rem;
            margin: 1.5rem 0.5rem 0px 0px;
            cursor: pointer;
            @include sm {
              margin: 1.5rem 1.5rem 0px 0px;
              padding: 1rem 4rem;
            }
            &:nth-child(2) {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .right {
      order: 1;
      width: 100%;
      @include lg {
        width: 50%;
      }
      .right-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
