.grill {
  font-family: "Roboto", sans-serif;
  .container {
    color: $textColor;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    .left {
      background-color: $secondaryRed;
      display: flex;
      justify-content: center;
      position: relative;
      @include lg {
        width: 50%;
      }
      .left-container {
        text-align: center;
        margin: 4rem 0px;
        @include lg {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -190px 0 0 -100px;
        }
        h2 {
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.625rem;
          text-align: center;
          @include xl {
            text-align: start;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;
          list-style: inside;
          padding-left: 1.25rem;
          @include xl {
            list-style: outside;
            gap: 1rem;
            text-align: start;
          }
          li {
            font-weight: 300;
            font-size: $primaryFontSize;
            line-height: 24px;
            opacity: 0.8;
          }
        }
        button {
          @include secondaryButton;
        }
      }
    }
    .right {
      @include lg {
        width: 50%;
      }
      .right-container {
        img {
          width: 100%;
        }
      }
    }
  }
}
