.handwerk {
  font-family: "Roboto", sans-serif;
  padding: 1rem 0px 5rem 0px;

  .container {
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    .top {
      display: flex;
      flex-direction: column;
      padding: 4rem 1rem;
      align-items: center;
      @include xl {
        width: 50%;
      }
      h2 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.625rem;
        text-align: center;
      }
      h3 {
        font-size: 1.375rem;
        font-weight: 700;
        text-align: center;
      }
      p {
        font-weight: 300;
        font-size: $primaryFontSize;
        line-height: 1.625rem;
        text-align: center;
        opacity: 0.7;
      }
      button {
        @include primaryButton;
        padding: 1rem 3rem;
      }
    }
    .separator {
      padding: 4rem 0px;
      img {
        width: 100%;
      }
    }
    .bot {
      .image-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.4rem;
        @include md {
          gap: 1rem;
        }
        img {
          height: 173px;
          width: 186px;
          @include md {
            height: 243px;
            width: 262px;
          }
        }
      }
    }
  }
}
