@mixin primaryButton {
  font-weight: 400;
  font-size: $primaryFontSize;
  height: 2.938rem;
  background: $secondaryRed;
  color: $textColor;
  border-radius: 50px;
  border: 1px solid white;
  line-height: 0px;
  padding: 1rem 2.6rem;
  margin: 1.5rem 0.5rem 0px 0px;
  cursor: pointer;
}
@mixin secondaryButton {
  color: black;
  font-size: $primaryFontSize;
  line-height: 22px;
  font-weight: 400;
  background-color: white;
  padding: 1rem 4rem;
  border: 0px;
  border-radius: 50px;
  margin: 1rem 0px 1rem 0px;
  cursor: pointer;
}
