.spices {
  font-family: "Roboto", sans-serif;
  padding: 5rem 0px 0px 0px;
  .container {
    color: $textColor;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    .left {
      background-color: $secondaryRed;
      display: flex;
      justify-content: center;
      position: relative;
      padding: 3rem 1rem;
      @include lg {
        order: 2;
        width: 50%;
      }
      .left-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        @include lg {
          text-align: start;
          position: absolute;
          top: 50%;
          left: 20%;
          margin: -210px 0 0 -100px;
        }
        h2 {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.625rem;
          margin-bottom: 0.5rem;
          @include xl {
            text-align: start;
            font-size: 2rem;
          }
        }
        h3 {
          font-size: 1.15rem;
          font-weight: 700;
          margin-top: 0px;
          line-height: 2rem;
          @include xl {
            text-align: start;
            font-size: 1.375rem;
          }
        }
        p {
          font-weight: 300;
          font-size: $primaryFontSize;
          line-height: 1.625rem;
          text-align: center;
          opacity: 0.7;
          @include lg {
            width: 75%;
            text-align: start;
          }
          @include xl {
            font-size: $primaryFontSize;
            width: 55%;
          }
        }
      }
    }
    .right {
      @include lg {
        width: 50%;
      }
      .right-container {
        img {
          width: 100%;
        }
      }
    }
  }
}
