.swiper-section {
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(830px) {
        align-items: stretch;
      }
      img {
        display: block;
        object-fit: cover;
      }
      .swiper-text {
        position: relative;
        display: flex;
        justify-content: center;
        background: #0000004d;
        height: auto;
        @include breakpoint(1700px) {
          height: 51.5%;
          width: 32.5%;
        }
        @include xl {
          position: absolute;
          left: 0;
          top: 20%;
          justify-content: flex-end;
          width: 32.5%;
        }
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          padding: 1rem;
          @include xl {
            padding: 3.8rem;
            width: 43.5%;
            align-items: start;
          }

          h1 {
            font-family: "Roboto Condensed";
            font-size: 2.375rem;
            margin: 0;
            text-align: center;
            font-weight: 700;
            @include xl {
              text-align: start;
            }
          }
          p {
            font-family: "Roboto";
            font-weight: 300;
            font-size: $primaryFontSize;
            line-height: 1.5rem;
            opacity: 0.8;
            text-align: center;
            @include xl {
              text-align: start;
            }
          }
        }
      }
      .ban-dsk {
        display: none;

        @include breakpoint(830px) {
          display: block;
        }
        img {
          height: 45vh;
          @include xl {
            height: auto;
          }
        }
      }
      .ban-mob {
        display: block;
        @include breakpoint(830px) {
          display: none;
        }
      }
    }
  }
}
