header {
  background-color: #b50014;
  display: flex;
  justify-content: center;
}
header .nav-container {
  width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1340px) {
  header .nav-container {
    justify-content: flex-start;
  }
}
header .nav-container .nav-logo {
  z-index: 99;
  margin-bottom: -46px;
  padding-left: 2px;
}
header .nav-container .nav-logo #logo-mobile {
  display: block;
}
header .nav-container .nav-logo #logo-desktop {
  display: none;
}
@media (min-width: 720px) {
  header .nav-container .nav-logo {
    margin-bottom: -88px;
  }
  header .nav-container .nav-logo #logo-mobile {
    display: none;
  }
  header .nav-container .nav-logo #logo-desktop {
    display: block;
  }
}
@media (min-width: 1340px) {
  header .nav-container .nav-logo {
    padding-left: 0;
  }
}
header .nav-container .nav-links {
  display: flex;
}
header .nav-container .nav-links .down {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 1340px) {
  header .nav-container .nav-links .down {
    display: none;
  }
}
header .nav-container .nav-links .menu-toggle {
  background-color: #b50014;
  color: #fff;
  padding: 10px 25px;
  font-size: 1.7rem;
  border: none;
  cursor: pointer;
}
@media (min-width: 1340px) {
  header .nav-container .nav-links .menu-toggle {
    display: none;
  }
}
header .nav-container .nav-links ul {
  display: none;
}
@media (min-width: 1340px) {
  header .nav-container .nav-links ul {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}
header .nav-container .nav-links ul .pdf {
  font-size: 14px;
}
header .nav-container .nav-links ul .pdf a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .nav-container .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-opentime {
  display: flex;
  justify-content: center;
  background-color: #252525;
  padding-right: 1rem;
  border-top: 0px;
}
@media (min-width: 1340px) {
  .nav-opentime {
    border-top: solid 1px black;
    padding-right: 0px;
  }
}
.nav-opentime .container {
  width: 1280px;
  display: flex;
  justify-content: flex-end;
}
.nav-opentime .container .content {
  color: #fff;
}
.nav-opentime .container .content img {
  display: none;
}
@media (min-width: 1340px) {
  .nav-opentime .container .content img {
    display: block;
  }
}
.nav-opentime .container .content p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.62rem;
}
.nav-opentime .container .content p span {
  font-weight: 700;
}
.nav-opentime .container .content p #break {
  height: 4px;
}
@media (min-width: 1340px) {
  .nav-opentime .container .content {
    display: flex;
    gap: 5px;
  }
  .nav-opentime .container .content p {
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0;
  }
}

.swiper-section .swiper {
  width: 100%;
  height: 100%;
}
.swiper-section .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 830px) {
  .swiper-section .swiper .swiper-slide {
    align-items: stretch;
  }
}
.swiper-section .swiper .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-section .swiper .swiper-slide .swiper-text {
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3019607843);
  height: auto;
}
@media (min-width: 1700px) {
  .swiper-section .swiper .swiper-slide .swiper-text {
    height: 51.5%;
    width: 32.5%;
  }
}
@media (min-width: 1340px) {
  .swiper-section .swiper .swiper-slide .swiper-text {
    position: absolute;
    left: 0;
    top: 20%;
    justify-content: flex-end;
    width: 32.5%;
  }
}
.swiper-section .swiper .swiper-slide .swiper-text .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1rem;
}
@media (min-width: 1340px) {
  .swiper-section .swiper .swiper-slide .swiper-text .container {
    padding: 3.8rem;
    width: 43.5%;
    align-items: start;
  }
}
.swiper-section .swiper .swiper-slide .swiper-text .container h1 {
  font-family: "Roboto Condensed";
  font-size: 2.375rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 1340px) {
  .swiper-section .swiper .swiper-slide .swiper-text .container h1 {
    text-align: start;
  }
}
.swiper-section .swiper .swiper-slide .swiper-text .container p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.8;
  text-align: center;
}
@media (min-width: 1340px) {
  .swiper-section .swiper .swiper-slide .swiper-text .container p {
    text-align: start;
  }
}
.swiper-section .swiper .swiper-slide .ban-dsk {
  display: none;
}
@media (min-width: 830px) {
  .swiper-section .swiper .swiper-slide .ban-dsk {
    display: block;
  }
}
.swiper-section .swiper .swiper-slide .ban-dsk img {
  height: 45vh;
}
@media (min-width: 1340px) {
  .swiper-section .swiper .swiper-slide .ban-dsk img {
    height: auto;
  }
}
.swiper-section .swiper .swiper-slide .ban-mob {
  display: block;
}
@media (min-width: 830px) {
  .swiper-section .swiper .swiper-slide .ban-mob {
    display: none;
  }
}

.dry {
  font-family: "Roboto", sans-serif;
}
.dry .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 2rem;
  gap: 2rem;
}
@media (min-width: 1020px) {
  .dry .container {
    flex-direction: row;
  }
}
@media (min-width: 1340px) {
  .dry .container {
    padding: 10rem 13vw;
  }
}
@media (min-width: 1620px) {
  .dry .container {
    padding: 10rem 20vw;
  }
}
.dry .container .left {
  order: 2;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 1020px) {
  .dry .container .left {
    width: 50%;
    order: 1;
  }
}
.dry .container .left .left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1020px) {
  .dry .container .left .left-container {
    align-items: start;
  }
}
.dry .container .left .left-container h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.625rem;
  margin: 8px 0px;
}
.dry .container .left .left-container h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 0px;
}
.dry .container .left .left-container p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
  margin: 1.5rem 0px;
  text-align: center;
  opacity: 0.7;
}
@media (min-width: 1020px) {
  .dry .container .left .left-container p {
    text-align: start;
  }
}
.dry .container .left .left-container .buttons {
  padding-top: 1rem;
}
.dry .container .left .left-container .buttons button {
  font-weight: 400;
  font-size: 1rem;
  height: 2.938rem;
  background: #a62120;
  color: #fff;
  border-radius: 50px;
  border: 1px solid white;
  line-height: 0px;
  padding: 1rem 2.6rem;
  margin: 1.5rem 0.5rem 0px 0px;
  cursor: pointer;
  cursor: pointer;
}
@media (min-width: 490px) {
  .dry .container .left .left-container .buttons button {
    margin: 1.5rem 1.5rem 0px 0px;
    padding: 1rem 4rem;
  }
}
.dry .container .left .left-container .buttons button:nth-child(2) {
  margin-right: 0px;
}
.dry .container .right {
  order: 1;
  width: 100%;
}
@media (min-width: 1020px) {
  .dry .container .right {
    width: 50%;
  }
}
.dry .container .right .right-container {
  display: flex;
  flex-direction: column;
}

.grill {
  font-family: "Roboto", sans-serif;
}
.grill .container {
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1020px) {
  .grill .container {
    flex-direction: row;
  }
}
.grill .container .left {
  background-color: #a62120;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (min-width: 1020px) {
  .grill .container .left {
    width: 50%;
  }
}
.grill .container .left .left-container {
  text-align: center;
  margin: 4rem 0px;
}
@media (min-width: 1020px) {
  .grill .container .left .left-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -100px;
  }
}
.grill .container .left .left-container h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  text-align: center;
}
@media (min-width: 1340px) {
  .grill .container .left .left-container h2 {
    text-align: start;
  }
}
.grill .container .left .left-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  list-style: inside;
  padding-left: 1.25rem;
}
@media (min-width: 1340px) {
  .grill .container .left .left-container ul {
    list-style: outside;
    gap: 1rem;
    text-align: start;
  }
}
.grill .container .left .left-container ul li {
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  opacity: 0.8;
}
.grill .container .left .left-container button {
  color: black;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
  background-color: white;
  padding: 1rem 4rem;
  border: 0px;
  border-radius: 50px;
  margin: 1rem 0px 1rem 0px;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .grill .container .right {
    width: 50%;
  }
}
.grill .container .right .right-container img {
  width: 100%;
}

.handwerk {
  font-family: "Roboto", sans-serif;
  padding: 1rem 0px 5rem 0px;
}
.handwerk .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
}
.handwerk .container .top {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  align-items: center;
}
@media (min-width: 1340px) {
  .handwerk .container .top {
    width: 50%;
  }
}
.handwerk .container .top h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.625rem;
  text-align: center;
}
.handwerk .container .top h3 {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
}
.handwerk .container .top p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  opacity: 0.7;
}
.handwerk .container .top button {
  font-weight: 400;
  font-size: 1rem;
  height: 2.938rem;
  background: #a62120;
  color: #fff;
  border-radius: 50px;
  border: 1px solid white;
  line-height: 0px;
  padding: 1rem 2.6rem;
  margin: 1.5rem 0.5rem 0px 0px;
  cursor: pointer;
  padding: 1rem 3rem;
}
.handwerk .container .separator {
  padding: 4rem 0px;
}
.handwerk .container .separator img {
  width: 100%;
}
.handwerk .container .bot .image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}
@media (min-width: 720px) {
  .handwerk .container .bot .image-wrapper {
    gap: 1rem;
  }
}
.handwerk .container .bot .image-wrapper img {
  height: 173px;
  width: 186px;
}
@media (min-width: 720px) {
  .handwerk .container .bot .image-wrapper img {
    height: 243px;
    width: 262px;
  }
}

.spices {
  font-family: "Roboto", sans-serif;
  padding: 5rem 0px 0px 0px;
}
.spices .container {
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1020px) {
  .spices .container {
    flex-direction: row;
  }
}
.spices .container .left {
  background-color: #a62120;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3rem 1rem;
}
@media (min-width: 1020px) {
  .spices .container .left {
    order: 2;
    width: 50%;
  }
}
.spices .container .left .left-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1020px) {
  .spices .container .left .left-container {
    text-align: start;
    position: absolute;
    top: 50%;
    left: 20%;
    margin: -210px 0 0 -100px;
  }
}
.spices .container .left .left-container h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.625rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 1340px) {
  .spices .container .left .left-container h2 {
    text-align: start;
    font-size: 2rem;
  }
}
.spices .container .left .left-container h3 {
  font-size: 1.15rem;
  font-weight: 700;
  margin-top: 0px;
  line-height: 2rem;
}
@media (min-width: 1340px) {
  .spices .container .left .left-container h3 {
    text-align: start;
    font-size: 1.375rem;
  }
}
.spices .container .left .left-container p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: center;
  opacity: 0.7;
}
@media (min-width: 1020px) {
  .spices .container .left .left-container p {
    width: 75%;
    text-align: start;
  }
}
@media (min-width: 1340px) {
  .spices .container .left .left-container p {
    font-size: 1rem;
    width: 55%;
  }
}
@media (min-width: 1020px) {
  .spices .container .right {
    width: 50%;
  }
}
.spices .container .right .right-container img {
  width: 100%;
}

.order {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.order .container {
  background: url("../images/80457d7e9d392ee84954d90d13d15d69@2x 1.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; /* Center the image */
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order .container .wrapper h2 {
  font-size: 2rem;
  line-height: 1.625rem;
  font-weight: 700;
}
.order .container .wrapper button {
  color: black;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
  background-color: white;
  padding: 1rem 4rem;
  border: 0px;
  border-radius: 50px;
  margin: 1rem 0px 1rem 0px;
  cursor: pointer;
  border: 1px solid #a62120;
  margin-top: 2rem;
}

.awards {
  font-family: "Roboto", sans-serif;
  padding: 1rem 0px 5rem 0px;
}
.awards .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
}
.awards .container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 1rem;
  width: 80%;
}
@media (min-width: 1020px) {
  .awards .container .top {
    flex-direction: row;
  }
}
@media (min-width: 1340px) {
  .awards .container .top {
    width: 63%;
  }
}
@media (min-width: 1620px) {
  .awards .container .top {
    width: 50%;
  }
}
.awards .container .top h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  text-align: center;
}
@media (min-width: 1020px) {
  .awards .container .top h2 {
    text-align: start;
  }
}
.awards .container .top button {
  font-weight: 400;
  font-size: 1rem;
  height: 2.938rem;
  background: #a62120;
  color: #fff;
  border-radius: 50px;
  border: 1px solid white;
  line-height: 0px;
  padding: 1rem 2.6rem;
  margin: 1.5rem 0.5rem 0px 0px;
  cursor: pointer;
  padding: 1rem 3rem;
}
.awards .container .top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
@media (min-width: 1020px) {
  .awards .container .top-right {
    padding-top: 0px;
    align-items: start;
  }
}
.awards .container .separator {
  padding: 4rem 0px;
}
.awards .container .separator img {
  width: 100%;
}
.awards .container .bot .image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}
@media (min-width: 720px) {
  .awards .container .bot .image-wrapper {
    gap: 1rem;
  }
}
.awards .container .bot .image-wrapper img {
  height: 173px;
  width: 186px;
}
@media (min-width: 720px) {
  .awards .container .bot .image-wrapper img {
    height: 243px;
    width: 262px;
  }
}

body {
  height: 2050vh;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #000;
}/*# sourceMappingURL=styles.css.map */