@import "./variables";
@import "./breakpoints";
@import "./mixins";
@import "./header";
@import "./swiper";
@import "./drySection";
@import "./grillSection";
@import "./handwerkSection";
@import "./spicesSection";
@import "./orderSection";
@import "./awardsSection";
@import "./reviewsSection.scss";

body {
  height: 2050vh;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: $backgroundColor;
}
